.BodyTopUserPage{
    padding-top: 70px;
    background-image: url(/image/homeBKG1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.BodyTopUserPage::after{
    content: '';
    clear: both;
    display: block;
}
.BodyLeftUserPage{
    padding: 50px;
}
.BodyRightUserPage{
    padding: 50px 90px 30px 30px;
    /* background-color: #2196f3; */
}
.editButtons{
    position: absolute;
    left: 100%;
    top: 0%;
}