*{padding:0; margin:0}
.HeaderHomepage{
    background-image: url('/image/feat-May2019.jpg');
    background-position: center 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.HeaderBarHomepage div.TotalNum{
    float: left;
    color: white;
}
.HeaderBarHomepage{
    padding: 20px;
}
.HeaderMainHomepage{
    padding: 30px;
}
.HeaderMainHomepage div.logo{
    margin: 25px 0px;
    font-size: 60px;
    font-weight: 100;
    color: white;
}
.HeaderTailHomepage{
    padding: 20px;
}
.HeaderTailHomepage div.web-disp{
    float: left;
    color: white;
}
.HeaderTailHomepage div.web-owner{
    color: white;
    float:right;
}
/* 
.HeaderBarHomepage div.LogBar{
    width: 300px;
}
.HeaderMainHomepage{
    width: 1500px;
    display: inline-block;
}
.HeaderTailHomepage{
    width: 1500px;
    position: relative;
    height: 55px;
    display: inline-block;
}
} */


.BodyMainHomepage{
    width:1800px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.BodyTopHomepage .CenterPanel{
    margin:20px auto;
}
.PreViewBar{
    padding: 20px 50px 20px 50px;
    transition: 0.4s;
    background-color: rgb(250, 250, 250);
    /* overflow: hidden; */
}
.PreViewBarPlus:hover > .PreViewBar{
    background-color:unset;
}
.PreViewBarPlus:hover > div.PreViewBar .CataPreView{
    opacity: 0;
}
.PreViewBarPlus:hover > div.PreViewBar .ModelPreview{
    margin-left: -120px;
    width: 1400px;
}
.PreViewBarPlus:hover > .slidebkg{
    margin-left:-130px;
}
.PreViewBar{
    z-index: 10;
}
.PreViewBar::after{
    content: "";
    clear: both;
    display: block;
}
.CataPreView{
    float: left;
    width: 200px;
    height: 215px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: 0 3px 3px 3px rgba(168, 168, 168, 0.349);
    transition: 0.4s;
    z-index: 100;
}
.ModelPreview{
    float: left;
    background: transparent;
    transition: 1s;
    width:1100px;
    margin-left: 50px;
}
.ModelPreview::after{
    content: "";
    clear: both;
    display: block;
}
.PreViewBarPlus{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: visible;
}
.slidebkg{
    height: 100%;
    position: absolute;
    z-index:-10;
    margin-left:-2200px;
    transition: 2.4s;
}





.ModelPreview .Package{
    margin: 0px 25px 30px 0px;
}

/* the below is most commont componet which has to be refined well */
.Package{
    float: left;
    position: relative;
    border-radius: 5px;
    width: 225px;
    /* height: 200px; */
    background-color: rgba(255, 255, 255, 0.349);
    box-shadow: 0 1px 1px rgba(97,108,121,.1), 0 7px 18px 0 rgba(97,108,121,.13);
    /* overflow: hidden; */
}
.Package div.Package-up{
    height: 135px;
    cursor: pointer;
}
.Package div.Package-up:hover > img{
    filter: brightness(50%);
}
.Package div.Package-up:hover > div.icon-mask{
    display: unset;
}
.Package div.Package-up div.icon-mask{
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 135px;
    z-index: 20;
    display: none;
    /* overflow: hidden; */
}
.Package div.Package-up div.zoom-icon{
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: progress;
    transition: 0.5s;
}
.Package div.Package-up div.zoom-icon:hover + div.bigger-img{
    display: unset;
}
.icon-mask div.bigger-img{
    position: absolute;
    left: -70%;
    top:-270%;
    display: none;
    border-radius: 10px;
    background: rgb(49, 49, 49);
    color: white;
    text-align: center;
}
.icon-mask div.bigger-img::before, .icon-mask div.bigger-img::after{
    border: solid transparent;
    content: ' ';
    height: 0;
    top: 100%;
    position: absolute;
    width: 0;
}
.icon-mask div.bigger-img::after{
    border-width: 10px;
    border-top-color: rgb(49, 49, 49);
    right: 182px;
}
.icon-mask div.bigger-img::before{
    border-width: 12px;
    border-top-color: rgb(49, 49, 49);
    right: 180px;
}
.icon-mask div.bigger-img img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:500px;
    height: 300px;
}
.icon-mask div.bigger-img h2{
    margin: 5px auto 10px auto;
}
.Package div.Package-up div.zoom-icon:hover{
    filter: opacity(30%);
}
.Package div.Package-up img.small-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:225px;
    height:135px;
}
.Package div.Package-down{
    padding: 4px 10px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.Package div.Package-down div.modelName{
    font-weight: 400;
    font-size: medium;
}
.Package div.Package-down div.modelName::before{
    /* content: 'Name'; */
}
.Package div.Package-down div.modelFormat{
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
}
.Package div.Package-down div.modelFormat::before{
    /* content: 'Format'; */
}
.Package div.Package-down div.modelAuthor{
    font-size: small;
    font-weight: 400;
    color: /* rgb(98, 173, 0); #4db6ac;rgba(0, 0, 0, 0.54);*/#00796b;

}
.Package div.Package-down div.modelAuthor::before{
    /*content: 'Author';*/
}

