.canvas-frame-wrapper {
    width: 100%;
    padding-top: 56.25%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
}
/*
.canvas-frame-wrapper:after {
    padding-top: 56.25%;
    
    display: block;
    content: '';
}*/

.canvas-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */
    background-color: deepskyblue;
    /* let's see it! */
    color: white;
}