div.CenterPanel{
    /* margin:20px auto; */
    text-align: center;
}
div.centerPanel::after{
    content: "";
    clear: both;
    display: block;
}
div.CataIcon{
    display: inline-block;
    margin: 0px 15px 0px 15px;
    transition: 0.5s;
}
div.CataIcon:hover{
    cursor: pointer;
    filter: brightness(120%);
    margin: 0px 50px 0px 50px;
}
div.CataIcon img{
    width: 100px;
    height: 100px;
}